[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git

[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git

